*{
    margin:0;
    padding:0;
    border:none;
}

.login{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

    width:400px;
    height:400px;
    padding:40px;
    box-sizing: border-box;


}